
<div class="form-container">
    <h2>Patient Verification</h2>
    <form  (ngSubmit)="onSubmit()" >
      
      
      <div class="form-group">
        <!--<label for="customer_id">Patient's National ID:</label>
        <input id="national_id" formControlName="customer_id" type="number" placeholder="Enter national id" />-->
  
      <label for="patientFullName">Patient National Id</label>
        <input 
          type="text" 
          id="NationalId" 
          [(ngModel)]="formData.customer_id" 
          name="NationalId" 
          required 
          #nationalId="ngModel">
        <div *ngIf="nationalId.invalid && nationalId.touched" class="error-message">
          Patient id is required.
        </div> 
      </div>
  
      <button type="submit" id="submit">Send Request</button>
      
      <div *ngIf="mappedData && mappedData.length > 0" class="response-data">
        <h3>Request Details:</h3>
        <ul>
          <li *ngFor="let item of mappedData">
            <strong>ID:</strong> {{ item.id }} |
            <strong>Description:</strong> {{ item.description }} |
            <strong>Status:</strong> {{ item.status }} |
            <strong>Date:</strong> {{ item.date }}
          </li>
        </ul>
      </div>
      <div *ngIf="feedbackMessage" class="feedback-message">
        {{ feedbackMessage }}
      </div>
      
  
    </form>
  
   
  </div>