.user-nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(164, 168, 230, 0.829);
    padding-bottom: 8px;
  }
.main-container{
  padding: 5px;
  display:grid;

}
mat-tab{
  font-weight: bold;
  background-color: black;
}
label:hover{
  color:bisque;
}
  