.user-nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(35, 47, 221, 0.829);
    padding-bottom: 8px;
  }
.main-container{
  padding: 5px;
  display:grid;

}
label{
  font-style: bold;
  background-color: black;
}
label:hover{
  color:bisque;
}
  