<p>Current onboarded Users to the system.</p>
<div class="search-container">
  <input type="text" class="search-bar" placeholder="Search users" [(ngModel)]="searchQuery" 
  (input)="filterUsers()" />
</div>

<div class="loading" *ngIf="isLoading">
  <p>Loading details...</p>
</div>

<table class="combined-table" *ngIf="!isLoading && filteredUsers.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>User Id</th>
      <th>Type</th>
      <th>Name</th>
      <th>Address</th>
      <th>Additional Info</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of paginatedUsers let i = index">
      <td>{{ i + (currentPage - 1) * recordsPerPage }} </td>
      <td>{{users.Id}}</td>
      <td>{{ users.type }}</td>
      <td>{{ users.name }}</td>
      <td>{{ users.Address }}</td>
      <td>{{ users.AdditionalInfo }}</td>
      <td>

        <button *ngIf="users.type === 'Hospital'" (click)="deleteHospital(users.Id)" class="btn-danger">Delete</button>
        <button *ngIf="users.type === 'Insurance'" (click)="deleteInsuranceDetails(users.Id)" class="btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!isLoading && filteredUsers.length === 0" class="no-data">
  No records found.
</div>
<div class="pagination-controls" *ngIf="!isLoading && users.length > recordsPerPage">
  <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>







 