<div class="policy-form-container">
    <form [formGroup]="policyholderForm">
      <h2>Policy Holder Details</h2>
  
      <div class="form-group">
        <div>
        <label for="policy_holder_id">Policy Holder ID :</label>
        <input type="text" id="policy_holder_id" ControlName="policy_holder_id" required />
        <div *ngIf="policyholderForm.get('policy_holder_id')?. invalid && policyholderForm.get('policy_holder_id')?.touched" class="error">
        </div>
      </div>
        
      </div>
      <div>
        <label for="insurancename">Insurance Company :</label>
        <input type="text"  id="name" formControlName="insurancename" required />
        <div *ngIf="policyholderForm.get('name')?.invalid && policyholderForm.get('insurancename')?.touched" class="error">  
        </div>
      </div>
      <button type="submit" [disabled]="policyholderForm.invalid">Submit</button>
      