<p>Active Users onboarded to the system.</p>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Role</th>
      <th>Company Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of activeUsers; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ users.first_name }}{{ users.last_name }}</td>
      <td>{{ users.role }}</td>
      <td>
        <span *ngIf="users.role === 'Hospital Admin'">{{ users.hospitalName }}</span>
        <span *ngIf="users.role === 'Insurance Admin'">{{ users.inurance_name }}</span>
      </td>
      <td>{{ users.status }}</td>
    </tr>
  </tbody>
</table>

