<p>Active Users onboarded to the system.</p>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Company Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of activeUsers; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.hospitalName }}</td>
      <td>{{ user.status }}</td>
    </tr>
  </tbody>
</table>

