
<body>
  
  <main>
  
  <div class="right">

      <header class="brand-name">
      <img src="assets/logo.png" alt="" srcset="" id="logo-image">
      </header>
      <section class="content">
      </section>
    <section class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" required>
            <div *ngIf="email?.invalid && email?.touched">
              <small *ngIf="email?.errors?.['required']">Email is required</small>
                <small *ngIf="email?.errors?.['email']"> correct email format</small>
            </div>
            </div>
      
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" required minlength="5">
            <div *ngIf="password?.invalid && password?.touched">
              <small *ngIf="password?.errors?.['required']">Password is required</small>
              <small *ngIf="password?.errors?.['minlength']">Minimum of 5 characters </small>
            </div>
          </div>
      
          <div>
            <button class="login" type="submit">LOG IN</button>
          </div>
          <nav>
            <p>Don't have an Account</p>
            <a routerLink="/signup">Signup</a>
            <br>
            <p>Forgot your password</p>
            <a routerLink="/resetpassword">Reset Password</a>
          </nav>
          <div  id="form-feedback">
           <div *ngIf="loginError" class="error-message">{{loginError}}</div>
           <div *ngIf="loginSuccess" class="success-message">{{loginSuccess}}</div>
          </div>
        </form>
    </section>
    </div>
  </main>

</body>