body{
    background-color: #10536b;
    height: 100vh;
}

main {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    /* padding: 0 30px; */
    /* background-image: url('../../../public/assets/white-link.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
}

/* main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 0; 
} */

.login-container {
    background: #7d6cc9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    max-width: 500px;
    /* height: auto; */
    /* z-index: 10; */

}

label {
    margin-bottom: 3px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: calc(100% - 22px); 
    box-sizing: border-box; 
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#form-feedback {
    margin-top: 10px;
    padding: 10px;
    color: #d8000c;
    background-color: #ffbaba;
    border-radius: 4px;
    display: none; 
}
a {
    font-weight: 300;
    font-size: italic;

}
a:hover{
    text-align: center;
    font-size: medium;
    font-weight: 100;
    color: rgb(20, 19, 19);
}

h2 {
    /* height: auto; */
    text-align: center;
    text-wrap: center;
}

#logo-image{
    height: 100px;
}

.left{
    width: 40%;
    max-height: 60%;
    border-radius: 10px;
    /* border: red 3px solid; */
    object-fit: cover;
}

.left img{
    position: relative;
    width: 100%;
    /* height: 40px; */
}

.right{
    /* border: yellow 2px solid; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
