body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #86151546;
    margin: 0;

}

.login-container {
    background: #7d6cc9;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: fit-content;
}

label {
    margin-bottom: 3px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: calc(100% - 22px); 
    box-sizing: border-box; 
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#form-feedback {
    margin-top: 10px;
    padding: 10px;
    color: #d8000c;
    background-color: #ffbaba;
    border-radius: 4px;
    display: none; 
}
a {
    font-weight: 300;
    font-size: italic;

}
a:hover{
    text-align: center;
    font-size: medium;
    font-weight: 100;
    color: rgb(20, 19, 19);
}
.login-image{
    padding: 45%;
    border-radius: 5px;
}


  
  

  