#logo-image{
    height: 100px;

}
.main-container{
  background-color: rgb(217, 243, 234);
  height: auto;
  display: flex;
  
}
.content div{
  display: flex;
  background-color: rgb(233, 243, 248);
}
.navbar{
  align-items: center;
  background-color: rgb(232, 232, 233);
  width: max-content;
  cursor:pointer;

}
.navbar div{
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
  
  }
  
  .my-icon {
    font-size: 2rem;
    color: rgb(24, 24, 26);
  }
  
  .icon-label {
    font-size: 0.875rem;
    color: #0e0c0c;
    font-style: bold;

    
  }
  .content{
    overflow-y: auto;
    overflow-x: auto;
    flex:1;
  }
  