/* Parent container for sidebar and content */
.main-container {
  display: flex;
  height: 100vh;
  /* Full height for a consistent layout */
}


/* Sidebar (navbar) */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 15%;
  background-color: white;
  color: #ecf0f1;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}
nav.navbar{
  border: 2cap #28b3d6;

}

nav .top-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav .bottom-section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

nav .nav-links{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}

nav .nav-links .nav-div{
  display: flex;
  align-items: center;
}

nav .nav-links .nav-div:hover,
.nav-active{
  background-color: rgba(18, 179, 253, 0.1);
  padding: 5px 10px;
  border: 1px solid rgba(18, 179, 253, 1);
  border-radius: 5px;
}

.nav-logo{
  display:flex;
  align-items: center;
  justify-content: center;
  height:50%;
}

#logo-image {
  padding: 10px;

}

/* .content div {
  display: flex;
  background-color: rgb(233, 243, 248);
} */

/* .navbar{
  align-items: center;
  background-color: rgb(232, 232, 233);
  width: 10;
  cursor:pointer;

} */



.my-icon {
  font-size: 2rem;
  color: rgb(24, 24, 26);
}

.icon-label {
  font-size: 0.875rem;
  color: #0e0c0c;
  font-style: bold;
}

.logout-area:hover,
.selected {
  border: rgb(23, 23, 223);
  background-color: rgb(23, 23, 223);
  color: #007bff;
}


/* .navbar div {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;

} */

/* Sidebar items */
.navbar .icon-label {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

.navbar button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Content Area */
.content {
  display: flex;
  padding: 1px;
  width: 100%;
  background-color: #f5f5f5;
  /* background-color: red; */

  /* Light background for content */

}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.logout-area{
  border: 1px solid #f34d4d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #f5423b;
  color: #FFFFFF;
  cursor: pointer;
}

/* .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
} */

/* .dropdown-btn:hover {
  color: #f1f1f1;
} */

.dropdown-btn {
  color:#0e0c0c;
}


.dropdown-container {
  display: none;
  /* background-color: #cec4c4; */
  padding-left: 10px;
  flex-direction: column;
  justify-content: left;
  margin-top: -20px;
}
p {
  color: #222020;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
