#logo-image{
    height: 100px;

}
.main-container{
  background-color: aquamarine;
  height: auto;
  display: flex;
  
}
.content div{
  display: flex;
  background-color: rgb(105, 194, 235);
}
.navbar{
  align-items: center;
  background-color: aqua;
  width: max-content;
  cursor:pointer;

}
.navbar div{
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
  
  }
  
  .my-icon {
    font-size: 2rem;
    color: blue;
  }
  
  .icon-label {
    font-size: 0.875rem;
    color: #555;

    
  }
  .content{
    overflow-y: auto;
    flex:1;
    padding: 1rem;
  }
  