<header class="brand-name">
    <img src="assets/logo.png" alt="" srcset="" id="logo-image">
<h2>Reset Password Page</h2>
</header>
<body>
<section class="reset-container">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
<div>
    <label for="email"> Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.['required']">Email is required</small>
        <small *ngIf="email?.errors?.['email']"> correct email format</small>
    </div>
</div>
<div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.['required']">Password is required</small>
        <small *ngIf="password?.errors?.['minlength']">should have 8 characters</small>
    </div>
</div>
<div>
    <label for="cpassword"> Confirm New Password:</label>
    <input id="cpassword" type="password" formControlName="cpassword">
    <div *ngIf="cpassword?.invalid && cpassword?.touched">
        <small *ngIf="cpassword?.errors?.['required']">Confirm password is required</small>
        <small *ngIf="cpassword?.errors?.['minlength']">should have 8 characters</small>
    </div>
</div>
<div>
<button class="reset" type="submit" [disabled]="resetForm.invalid">Reset Password</button>
</div>
<div  id="form-feedback"></div>
    </form>
</section>
</body>