<div class="top-section">
  <div class="head-section">
    <div class="text-section page-description">
      <p class="page-title">Add New Hospital</p>
      <p class="breadcrumbs">Hospital <span>/ Add New</span></p>
    </div>

    <!--<input type="text" class="search-bar" placeholder="Search here ...">-->

    <div class="notification-area">
      <img src="assets/icons/notifications_blue.svg" alt="">
    </div>
  </div>

</div>

<div class="form-container">
  <h2>Step {{ currentStep === 1 ? '1: Hospital Details' : '2: Register Hospital Admin' }}</h2>

  <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
    <!-- Step 1: Hospital Details -->
    <div *ngIf="currentStep === 1">
      <label for="name">Hospital Name:</label>
      <input id="name" formControlName="name" type="text" placeholder="Enter hospital name" />

      <label for="email_address">Email Address:</label>
      <input id="email_address" formControlName="email_address" type="email" placeholder="Enter email address" />

      <label for="mobile_number">Mobile Number:</label>
      <input id="mobile_number" formControlName="mobile_number_hospital" type="tel" placeholder="Enter mobile number" />

      <label for="head_quarter_location">Headquarter Location:</label>
      <input id="head_quarter_location" formControlName="head_quarter_location" type="text"
        placeholder="Enter location" />

      <label for="kra_pin">KRA pin:</label>
      <input id="kra_pin" formControlName="kra_pin" type="tel" placeholder="Enter Pin" />

      <label for="hospital_category">Hospital Category:</label>
      <select id="hospital_category" formControlName="hospital_category">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </div>

    <!-- Step 2: Hospital Admin Registration -->
    <div *ngIf="currentStep === 2">

      <div class="input-group">

        <div class="label-group">
          <label for="first_name">First Name:</label>
          <input id="first_name" formControlName="first_name" type="text" placeholder="Enter first name" />
        </div>
        <div class="label-group">
          <label for="second_name">Second Name:</label>
          <input id="second_name" formControlName="second_name" type="text" placeholder="Enter second name" />
        </div>
      </div>

      <div class="input-group">
        <div class="label-group">
          <label for="user_name">Username:</label>
          <input id="user_name" formControlName="user_name" type="text" placeholder="Enter username" />
        </div>
        <div class="label-group">
          <label for="last_name">Last Name:</label>
          <input id="last_name" formControlName="last_name" type="text" placeholder="Enter last name" />
        </div>
      </div>

      <div class="input-group">
        <div class="label-group">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter email" />
        </div>
        <div class="label-group">
          <label for="mobile_number">Mobile Number:</label>
          <input id="mobile_number" formControlName="mobile_number" type="tel" placeholder="Enter mobile number" />
        </div>
      </div>

      <div class="input-group">
        <div class="label-group">
          <label for="national_id">National ID:</label>
          <input id="national_id" formControlName="national_id" type="text" placeholder="Enter national ID" />
        </div>
    
        <div class="label-group">
          <label for="dob">Date of Birth:</label>
          <input id="dob" formControlName="dob" type="date" />
        </div>
      </div>

      <div class="label-group">
        <label for="gender">Gender:</label>
        <select id="gender" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

    </div>



    <div class="button-container">
      <button type="button" (click)="previousStep()" *ngIf="currentStep > 1">Previous</button>
      <button type="button" (click)="nextStep()" *ngIf="currentStep === 1">Next</button>
      <button type="submit" [disabled]="!hospitalForm.valid" *ngIf="currentStep === 2">Submit</button>
    </div>
  </form>
</div>