#logo-image{
    height: 80px;

}
.admin-dashboard {
    display: flex;
    gap: 3rem;
  }
  
  .admin-dashboard div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .my-icon {
    font-size: 2rem;
  }
  
  .icon-label {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #555;
  }
  