<div class="edit-user">
<h2 mat-dialog-title>Edit User</h2>
    <mat-dialog-content>
      <form class="edit">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="data.user.name" name="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="data.user.email" name="email" />
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button (click)="onSave()">Save</button>
    </mat-dialog-actions>
    </div>