<body>
  <main>
<header class="brand-name">
    <img src="assets/logo.png" alt="" srcset="" id="logo-image">
    <h2>Sign up Page </h2>
</header>
  
   <section class="signup-container">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="first_name">First Name:</label>
            <input id="first_name" type="text" formControlName="first_name">
            <div *ngIf="signupForm.get('first_name')?.invalid && signupForm.get('first_name')?.touched">
              <small *ngIf="signupForm.get('first_name')?.errors?.['required']">First Name is required</small>
            </div>
          </div>
      
          <div>
            <label for="last_name">Last Name:</label>
            <input id="last_name" type="text" formControlName="last_name">
            <div *ngIf="signupForm.get('last_name')?.invalid && signupForm.get('last_name')?.touched">
              <small *ngIf="signupForm.get('last_name')?.errors?.['required']">Last Name is required</small>
            </div>
          </div>
      
          <div>
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email">
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
              <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</small>
              <small *ngIf="signupForm.get('email')?.errors?.['email']">Please enter a valid email address</small>
            </div>
          </div>
      
          <div>
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password">
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
              <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</small>
              <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password should have at least 8 characters</small>
            </div>
          </div>
    
            <button class="signup" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
      
          <div id="form-feedback">
            <div *ngIf="signupinError" class="error-message">{{signupinError}}</div>
            <div *ngIf="signupinSuccess" class="success-message">{{signupinSuccess}}</div>
          </div>
        </form>
      </section>
    </main> 
  </body>      