.claim-reports-container {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  .pdf-viewer,button{
    color: blue;
  }
  /* General table styles */


  /* Badge styles */
  .badge {
    display: flex;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    min-width: 60px;
  }
  
  .badge-red {
    background-color: #ec3131;
  }
  
  .badge-green {
    background-color: rgba(10, 207, 85, 0.753);
  }
  
  .badge-orange {
    background-color: rgb(214, 114, 21);
  }
  
  