
<div class="main-container">
    <header class="dashboard-header">
        <div class="logo">SuperAdmin Dashboard</div>
      
        <div class="header-actions">
          <div class="notification-icon" (click)="toggleNotifications()">
            <lucide-icon [img]="BellIcon" class="icon" aria-label="Notifications"></lucide-icon>
            <span class="badge" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
          </div>
        </div>
      </header>
      
      <div class="notifications-panel" *ngIf="showNotifications">
        <h3>Notifications</h3>
        <ul>
          <li *ngFor="let notification of notifications">
            {{ notification.message }}
          </li>
        </ul>
      </div>
      

</div>