
<div class="hospital-form-container">
    <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()" >
      <h2>Hospital Details</h2>
  
      <div class="form-group">
        
      <div>
        <label for="hospital_address">Address :</label>
        <textarea id="hospital_address" formControlName="hospital_address" required></textarea>
        <div *ngIf="hospitalForm.get('hospital_address')?.invalid && hospitalForm.get('hospital_address')?.touched" class="error">
          Address is required.
        </div>
      </div>
      <div>
        <label for="hospital_branch">Hospital Branch :</label>
        <input type="text" id="hospital_branch" formControlName="hospital_branch" required />
        <div *ngIf="hospitalForm.get('hospital_branch')?.invalid && hospitalForm.get('hospital_branch')?.touched" class="error">
          Hospital name is required.
        </div>
      </div>
        <div>
        <label for="hospital_name">Hospital Name :</label>
        <input type="text" id="hospital_name" formControlName="hospital_name" required />
        <div *ngIf="hospitalForm.get('hospital_name')?.invalid && hospitalForm.get('hospital_name')?.touched" class="error">
        </div>
      </div>
      </div>
      <div>
      <button type="submit" [disabled]="hospitalForm.invalid">Submit</button>
      </div>
      
      <div  id="form-feedback">
        <div *ngIf="AddError" class="error-message">{{AddError}}</div>
        <div *ngIf="AddSuccess" class="success-message">{{AddSuccess}}</div>
       </div>
    </form>
  </div>
  <div *ngIf="hospitalDetails">
    <h3>Hospital Details</h3>
  <ul>
    <li *ngFor="let hospital of hospitalDetails">
      <p><strong>Hospital Name:</strong> {{ hospital.hospitalName }}</p>
      <p><strong>Address:</strong> {{ hospital.hospitalAddress }}</p>
      <p><strong>Branch:</strong> {{ hospital.hospitalBranch }}</p>
    </li>
  </ul>
</div>
  
  

  